body{
    margin:0;
    padding:0;
    min-height:100vh;
    background-color:#0f1724; /* fallback color */
    background-image: url("UNI.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
}

.header{
    display:flex;
    background-color: black;
    color: white;
    justify-content: space-between
}
.header .head h1{
    font-size:15px;
    padding:10px 15px;
}
.header .nav ul{
    display:flex;
    gap:18px;
    list-style:none;
    align-items:center;
    margin: 0px; 
    padding:0 18px;
}
.header .nav a{
    color:white;
    text-decoration:none;
    padding:10px 6px;
    display:block;
    padding-top: 20px;
}
.header .nav a:hover{
    text-decoration:underline;
}

body {
    margin: 0px;
    padding: 0px;
}

.header{
    display:flex;
    background-color: black;
    color: white;
    justify-content: space-between
}
.header .head h1{
    font-size:15px;
    padding:10px 15px;
}
.header .nav ul{
    display:flex;
    gap:18px;
    list-style:none;
    align-items:center;
    margin: 0px; 
    padding:0 18px;
}
.header .nav a{
    color:white;
    text-decoration:none;
    padding:10px 6px;
    display:block;
    padding-top: 20px;
}
.header .nav a:hover{
    text-decoration:underline;
}
.trans{
    width: 40%;
    height: 800px;
    background-color: rgba(38, 37, 37, 0.5); 
    margin-left: 450px;
    margin-top: 100px;
    color: aliceblue;
    text-align: center;
    padding-top: 10px;
}
.line{
    width: 80%;
    height: 2px;
    margin:  auto;
    padding-bottom: 2%;
}
.logo{
    padding-left:2% ;
    margin: auto;
}

       

.button {
  border: none;
     background-color: rgba(38, 37, 37, 0.5); 

  color:white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
.button1 {border: 2px solid white;}
.button2 {border: 2px solid white;}
.button3 {border: 2px solid white;}
